<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <title>Welcome</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron" style="text-align: center;">
        <h1 class="display-4" style="color: darkgreen;">Welcome to the Job Portal</h1>
        <br>

        {% if user.is_authenticated %}
          {% if user.is_staff %}
            <p>
              <a class="btn btn-primary btn-lg" href="/recruiter-dashboard/">Recruiter Dashboard</a>
            </p>
          {% else %}
            <p>
              <a class="btn btn-primary btn-lg" href="{% url 'user_dashbaord' %}">User Dashboard</a>
            </p>
          {% endif %}
        {% else %}
          <p>Please <a href="{% url 'login' %}">login</a> to continue.</p>
        {% endif %}
      </div>

      <div class="container" style="text-align: right;">
        <a class="btn btn-danger" href="/">Logout</a>
      </div>
    </div>
  </body>
</html>
