/* .container{

    margin-top: 150px;

}

body {
    margin-top: 150px;
    background-image: url("https://etimg.etb2bimg.com/photo/104006444.cms");
    background-repeat:no-repeat ;
    background-size: cover;
} */